<!DOCTYPE html>
<html>
<head>
  <title>Kapusta</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" media="all" href="css/style.css"/>
  <link href="css/ppgallery.css" rel="stylesheet" type="text/css" />
  <link href="css/dark-hive/jquery-ui-1.8.6.custom.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/ppgallery.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#gallery').ppGallery();
    });
  </script>
    </head>
<body>
<div class="wrap">
  <div class="top">
    <span><i><a href="http://vk.com/kapusta_100_odezhek">О нас</a></i></span>
    <span>|</span>
    <span><i><a href="http://vk.com/kapusta_100_odezhek">Контакты</a></i></span>
  </div>
  <div class="header">
    <div class="img">
      <a href="/"><img height="100" src="img/logo.png" ></a>
    </div>
    <div class="texts">
      <span class="title">Магазин одежды</span><br>
      <span class="subtitle"><i>модная одежда из Европы Second Hand для всей семьи и аксессуары</i></span>
    </div>
  </div>
  <div class="logobg" ></div>
  <div class="search">
    <span class="easyfind"><i><b>ЛЕГКО НАЙТИ СВОЕ</b></i></span>
    <div contenteditable="true" class="findtext"></div>
    <span class="find">ПОИСК: </span></div>
  <!--<div class="leftmenu">-->
    <!--<ul class="catalog">-->
      <!--<li class="sel"><img src="img/smalllogo.png"><span>каталог одежды</span></li>-->
      <!--<li><img src="img/smalllogo.png"><span>женская одежда</span></li>-->
      <!--<li><img src="img/smalllogo.png"><span>мужская одежда</span></li>-->
      <!--<li><img src="img/smalllogo.png"><span>одежда для детей</span></li>-->
    <!--</ul>-->
  <!--</div>-->
  <div class="gallery">
    <ul id="gallery">
      {#photos}
      <li><a href="img/photos/{.}"><img src="img/small/{.}"></a></li>
      {/photos}
    </ul>
  </div>

</div>
<script src="js/main.js"></script>
</body>
</html>