<!DOCTYPE html>
<html>
<head>
  <title>Kapusta</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" media="all" href="css/style.css"/>
</head>
<body>
<div class="wrap">
  <div class="top">
    <span><i><a href="http://vk.com/kapusta_100_odezhek">О нас</a></i></span>
    <span>|</span>
    <span><i><a href="http://vk.com/kapusta_100_odezhek">Контакты</a></i></span>
  </div>
  <div class="header">
    <table width="100%"><tr>
    <td class="img">
      <a href="/"><img height="100" src="img/logo.png" ></a>
    </td>
    <td class="texts">
      <span class="title">Магазин одежды</span><br>
      <span class="subtitle"><i>модная одежда из Европы Second Hand для всей семьи и аксессуары</i></span>
    </td>
    </tr></table>
  </div>
  <!--<div class="logobg" ></div>-->
  <div class="search">
    <span class="easyfind"><i><b>ЛЕГКО НАЙТИ СВОЕ</b></i></span>
    <div contenteditable="true" class="findtext"></div>
    <span class="find">ПОИСК: </span></div>
  <div class="leftmenu">
    <ul class="catalog">
      <li class="sel"><img src="img/smalllogo.png"><span><a href="/">каталог одежды</a></span></li>
      <li><img src="img/smalllogo.png"><span><a href="/gallery">Галерея</a></span></li>
      <!--<li><img src="img/smalllogo.png"><a href="/gallery"><span>женская одежда</span></a></li>-->
      <!--<li><img src="img/smalllogo.png"><span>мужская одежда</span></li>-->
      <!--<li><img src="img/smalllogo.png"><span>одежда для детей</span></li>-->
    </ul>
  </div>
  <table class="content"><tr>
    <td class="cell">
      <img src="img/women.png"><br><i>женская одежда</i>
    </td>
    <td class="cell">
      <img src="img/child.png"><br><i>детская одежда</i>
    </td>
    <td class="cell">
      <img src="img/men.png"><br><i>мужская одежда</i>
    </td>
  </tr></table>
  <table width='100%'><tr><td>
    <div class="line"></div>
  </td></tr></table>

  <div id="page"></div>
  <script src="js/script.js"></script>

</div>
<script src="js/main.js"></script>
</body>
</html>